.wrapper{
    display: grid;
    align-items: center;
    justify-items: start;
    width:100%;
    margin-top:25px;
}

.itemcard{
    width:100%;
}

.btnWrapper{
    display: grid;
    align-items: flex-end;
    justify-content: flex-end;
}

.icon{
    margin-right:5px;
}