.wrapper{
    padding:25px 0px;
    text-align: center;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
   
 }

.alert{
    animation: fadeIn ease 0.5s;
}

.title{
   margin-bottom:25px;
    color:#494949;
}

.icon{
    margin-right:10px;
}